spring:
  datasource:
    url: jdbc:mysql://localhost:3307/loadtest
    username: root
    password: 1234
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    defer-datasource-initialization: true
  task:
    execution:
      pool:
        core-size: 60
        max-size: 200
## ???? ??? ???
jwt:
  secret:
    key: fsadfsadflsadjfl123123123123l2kj3l13j2l313l21j3l12jsd


